


@{
    ViewBag.Title = "Searchpage";
}

<h2>Searchpage</h2>

@using (Html.BeginForm())
{
    @Html.Label("Enter location")

    @Html.TextBox("location")<br />
    <button type="submit">Submit</button>
}